# A /* ensures that everything will be ignored.
/*

##############################
# gitsecret-Section
##############################
.gitsecret/keys/random_seed
docker/letsencrypt/config/nginx/site-confs/default

##############################
# Now include files and/or directories
##############################
!.gitignore
!.gitsecret

##############################
# Documentation
##############################
!LICENSE
!doc
!doc/HA_installation.md
!doc/HowTo_git.md
!doc/fritzbox.md
!doc/security.md

# All images
!images

# Old "pre docker" documentation
!doc/old
!doc/old/*

##############################
# RPi Files
##############################
!docker
docker/*

# letsencrypt
!docker/letsencrypt
docker/letsencrypt/*
!docker/letsencrypt/config
docker/letsencrypt/config/*
!docker/letsencrypt/config/www



# And last but not least forget unwanted files
**.DS_Store

