# A /* ensures that everything will be ignored.
/*

# Now include files and/or directories
!.gitignore

# Documentation
!LICENSE
!doc
!doc/HA_installation.md
!doc/HowTo_git.md
!doc/fritzbox.md
!doc/security.md

!docker

!images
!images/*

# Old "pre docker" documentation
!doc/old
!doc/old/*

# And last but not least forget unwanted files
**.DS_Store